@import '../../node_modules/bootstrap/scss/bootstrap';

ul,
li,
ol {
    list-style: none;
}

.color-red {
    color: #DF6247;
}

.color-light-grey {
    color: rgb(183, 180, 180);
}

.color-grey {
    color: gray;
}

.main-btn-background {
    background-color: #1F2023;

    &:hover {
        background-color: #1f202386;
    }
}

.bg-dark-grey {
    background-color: #121212;
}

.shadow-btn {
    -webkit-box-shadow: 4px -2px 4px -1px rgba(41, 41, 41, 0.9);
    box-shadow: 4px -2px 4px -1px rgba(41, 41, 41, 0.9);
}

.type-width {
    width: 20px;
}